<style>
    .form-popup{
        display: none;
        position: fixed;
        top: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }
</style>

<div class="row header">
    <h1 class= "col-sm-6"><a href="/">RPG Character Generator</a></h1>
    <div class="col-sm-6">
        @{
            if(ViewBag.SessionId == null)
            {
                <div class="row">
                    <button class= "register-form col-sm-5" onclick="openRegistration()" >Register</button>
                    <div class="form-popup" id="register">
                        <partial Name="RegisterPartial"></partial>
                    </div>
                    <h4 class="col-sm-1">|</h4>
                    <button class = "login-form col-sm-5" onclick="openLogin()">Login</button>
                    <div class="form-popup" id= "login">
                        <partial Name="LoginPartial"></partial>
                    </div>
                </div>
            }
            else
            {
                <h4><a href="">Profile</a></h4>
                <h4>|</h4>
                <h4><a href="/logout">Logout</a></h4>
            }
        }
    </div>
</div>

<script>
function openRegistration() {
    if(document.getElementById("login").style.display == "block")
    {
        document.getElementById("login").style.display = "none";
        document.getElementById("register").style.display = "block";
    }
    else{
        document.getElementById("register").style.display = "block";
    }
}

function closeRegistration() {
  document.getElementById("register").style.display = "none";
}

function openLogin() {
    if(document.getElementById("register").style.display == "block")
    {
        document.getElementById("register").style.display = "none";
        document.getElementById("login").style.display = "block";
    }
    else{
        document.getElementById("login").style.display = "block";
    }
}

function closeLogin() {
  document.getElementById("login").style.display = "none";
}

</script>