<div class="row header text-center">
    <h1 class= "col-sm"><a href="/">RPG Character Generator</a></h1>
</div>
<div class="row text-center">
    <h3 class= "col"> Please Register or Login to generate and save characters. </h3>
    <h3 class= "col">We do not sell or share any user data with any other parties. Privacy and Dungeon delving is our priorities. </h3>
</div>
<div class="row">
    <div class="col">
        <partial Name="RegisterPartial"></partial>
    </div>
    <div class="col">
        <partial Name="LoginPartial"></partial>
    </div>
</div>