<div class="row header text-center">
    <h1 class= "col-sm"><a href="/">RPG Character Generator</a></h1>
</div>
<div class="row text-center">
    <h3 class= "col" style="color:red;">Something went wrong. Please, try again. </h3>
</div>
<div class="row">
    <div class="col">
        <partial Name="RegisterPartial"></partial>
    </div>
    <div class="col">
        <partial Name="LoginPartial"></partial>
    </div>
</div>